{
	"parser": "babel-eslint",
	"plugins": ["babel", "react", "promise", "jsx-a11y"],
	"globals": {
		"angular": 1,
		"Microsoft": 1,
		"moment": 1,
		"_": 1,
		"Sly": 1,
		"jQuery": 1,
		"inject": 1,
		"module": 1,
		"test": 1,
		"expect": 1,
		"it": 1
	},
	"rules": {
		"jsx-quotes": [2, "prefer-double"],
		"linebreak-style": [2, "unix"],
		"array-bracket-spacing": 2,
		"arrow-body-style": ["error", "as-needed"],
		"arrow-spacing": 2,
		"block-scoped-var": 1,
		"block-spacing": 2,
		"brace-style": 2,
		"class-methods-use-this": 0,
		"comma-dangle": [0, "never"],
		"comma-spacing": 2,
		"comma-style": 2,
		"curly": 2,
		"default-case": 2,
		"dot-location": [2, "property"],
		"eqeqeq": [2, "smart"],
		"import/extensions": 0,
		"import/no-unresolved": 0,
		"import/no-extraneous-dependencies": 0,
		"import/prefer-default-export": "off",
		"indent": 0,
		"key-spacing": 2,
		"keyword-spacing": 2,
		"new-cap": 1,
		"new-parens": 2,
		"no-alert": 2,
		"no-cond-assign": 2,
		"no-console": ["error", { "allow": ["warn"] }],
		"no-const-assign": 2,
		"no-constant-condition": 2,
		"no-continue": 2,
		"no-control-regex": 2,
		"no-debugger": 2,
		"no-delete-var": 2,
		"no-dupe-args": 2,
		"no-dupe-class-members": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-empty-character-class": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-semi": 2,
		"no-fallthrough": 2,
		"no-floating-decimal": 2,
		"no-func-assign": 2,
		"no-implied-eval": 2,
		"no-inner-declarations": 2,
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-lone-blocks": 2,
		"no-lonely-if": 2,
		"no-magic-numbers": 0,
		"no-multi-spaces": 2,
		"no-native-reassign": 2,
		"no-negated-in-lhs": 2,
		"no-nested-ternary": 2,
		"no-new": 2,
		"no-new-func": 2,
		"no-new-object": 2,
		"no-new-wrappers": 2,
		"no-obj-calls": 2,
		"no-octal": 2,
		"no-param-reassign": 0,
		"no-redeclare": 2,
		"no-regex-spaces": 2,
		"no-return-assign": 2,
		"no-self-compare": 2,
		"no-sequences": 2,
		"no-sparse-arrays": 2,
		"no-tabs": 0,
		"no-underscore-dangle": 0,
		"no-unexpected-multiline": 2,
		"no-unreachable": 2,
		"no-unused-expressions": 1,
		"no-useless-call": 2,
		"no-useless-concat": 2,
		"no-var": 1,
		"object-shorthand": 1,
		"quotes": 0,
		"radix": 2,
		"react/jsx-equals-spacing": [2, "never"],
		"react/jsx-curly-spacing": [2, { "when": "never", "children": true }],
		"react/prop-types": [0],
		"require-yield": 2,
		"semi": ["error", "never"],
		"space-before-blocks": 2,
		"space-before-function-paren": [
			2,
			{ "anonymous": "always", "named": "never" }
		],
		"space-infix-ops": 2,
		"space-unary-ops": 2,
		"use-isnan": 2,
		"valid-typeof": 2,
		"yoda": 2,
		"jsx-a11y/label-has-for": [
			2,
			{
				"components": ["Label"],
				"required": {
					"some": ["nesting", "id"]
				},
				"allowChildren": true
			}
		],
		"jsx-a11y/no-static-element-interactions": 0
	},
	"extends": [
		"airbnb-base",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"prettier"
	],
	"env": {
		"es6": true,
		"browser": true,
		"jest": true
	},
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"ecmaFeatures": {
			"modules": true,
			"experimentalObjectRestSpread": true,
			"spread": true
		}
	}
}
